@model ManagementWebApp.Models.EventDetails
@{
    ViewBag.Title = "AddEvents";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>AddEvents</h2>


<div>
    <form method="post" action="@Url.Action("AddEvents","Admin")" enctype="multipart/form-data">
        @Html.TextBoxFor(i => i.EventName, new { @class = "InputField", @PlaceHolder = "Event Name" });
        @Html.TextBoxFor(i => i.Description, new { @class = "InputField", @PlaceHolder = "Description" });
        @Html.TextBoxFor(i => i.EventType, new { @class = "InputField", @PlaceHolder = "Event Type" });
        @Html.TextBoxFor(i => i.Language, new { @class = "InputField", @PlaceHolder = "Language" });
        @Html.TextBoxFor(i => i.CasteName, new { @class = "InputField", @PlaceHolder = "Caste Name" });
        @Html.TextBoxFor(i => i.Duration, new { @class = "InputField", @PlaceHolder = "Duration" });
        <input type="file" name="imageFile" />

        <button type="submit" class="add">Add</button>

    </form>
</div>

