@model IEnumerable<ManagementWebApp.Models.EventModels>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h2>Events</h2>

<p>
   <a href="@Url.Action("AddEventsView", "Admin")">Add Events</a> 
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasteName)
        </th>
       
        <th>Operations</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasteName)
        </td>
      
        <td>
            <a href="@Url.Action("EditEvent", "Admin", new {@id=item.id})">Edit</a> |
          
            <a href="@Url.Action("DeleteEvent", "Admin", new { id=item.id })">Delete</a>
        </td>
    </tr>
}

</table>
