@model List<ManagementWebApp.Models.PropertyModels>
@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}
<h2>Property Details</h2><a href="@Url.Action("AddProperty","Admin")"><button style="float:right">Add Property</button></a>
<input type="text" id="inputarea" placeholder="Search Property.." />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>PropertyName</th>
        <th>PropertyCity</th>
        <th>PropertyAddress</th>
        <th>No Of Seats</th>
        <th>Time</th>
        <th>Price</th>
        <th>Current Event</th>
        <th>Operation</th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id;
                </td>
                <td>@item.PropertyName</td>
                <td>@item.PropertyLocation</td>
                <td>@item.PropertyAddress</td>
                <td>@item.NoOfSeats</td>
                <td>@item.Time</td>
                <td>@item.Price</td>
                <td>@item.CurrentEvent_Id</td>
                <td>
                    <a href="@Url.Action("EditProperty", "Admin", new {@id=item.Id})">Edit</a> |
                     <a href="@Url.Action("DeleteProperty","Admin",new {@id=item.Id})">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
   


</table>

