@model ManagementWebApp.Models.Admindetails
<style>
    input{
        width:100%;
        margin-top:10px;

    }
    form{
        text-align:center;
    }
</style>
<div>
    <form method="post" action="@Url.Action("EditAdminDetails","Admin")">
        @Html.EditorFor(e => e.AdminName, new { @PlaceHolder = "AdminName" })<br />
        @Html.EditorFor(e => e.MailId, new { @PlaceHolder = "Mail Id" })<br />
        @Html.EditorFor(e => e.PhoneNo, new { @PlaceHolder = "Phone No" })<br />
        @Html.EditorFor(e => e.Password, new { @PlaceHolder = "Password" })<br />
        <button type="submit" class="btn-sm btn-primary">Add</button>
    </form>
</div>
