@model IEnumerable<ManagementWebApp.Models.movieBookingModels>
@{
    ViewBag.Title = "LandingPage";
    Layout = "~/Views/Shared/_LayoutUserPage2.cshtml";
    string username = (string)Session["UserName"];
    if (username != null)
    {
        Layout = "~/Views/Shared/_LayoutAfterUserLogin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUserPage2.cshtml";
    }
    var moviename = "";
    var desc = "";
    var time = "";
    var property = "";
    var location = "";
    var lang = "";
    DateTime date = DateTime.Now;
    DateTime dateonly = date.Date;
    var duration = "";
    var address = "";
    int propId = 0;
    var seatsno ="";
    int eventId =0;

    foreach(var i in Model)
    {
        moviename = i.EventName;
        desc = i.Description;
        time = i.Time;
        property = i.PropertyName;
        lang = i.Language;
        duration = i.Duration;
        address = i.PropertyAddress;
        propId = i.propertyId;
        location = i.PropertyLocation;
        seatsno = seatsno+","+i.SeatsNumber;
        eventId = i.eventid;
    }
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.1/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        * {
            margin: 0%;
            padding: 0%;
        }

        .navbardivs {
            text-align: left;
            background-color: #1f2533;
            padding: 2%;
            height: auto;
            color: white;
            width:100%;
        }

        .appender {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;
            height: 100%;
            margin-top: 30px;
        }



        input[type=checkbox] {
            width: 2rem;
            height: 2rem;
            margin: 10px;
            accent-color: #fc5087;
       
        }
         

            .wrapper {
                height: 100%;
            }

        .bookingdiv {
            text-align: center;
            padding: 20px;
            box-shadow: 1px 1px 7px 1px gray;
            display: none;
            position:sticky;
            bottom:0;
        }

        .booking-proceedbtn {
            background-color: #fc5087;
            padding: 10px;
            width: auto;
            border: none;
            outline: none;
            border-radius: 10px;
        }

        .appender2, .appender1 {
            width: 47%;
        }

        .time {
            padding: 5px;
            margin-top: 10px;
            background-color: #2dc492;
            border-radius: 5px;
            border: none;
            color: white;
            width: 100px;
        }

        .userdetails {
            display: none;
        }
        .bookingsummerydiv{
            width:100%;
            display:flex;
            flex-direction:row;
        }
        #book {
            background-color: #fc5087;
            padding: 10px;
            width: 150px;
            border: none;
            outline: none;
            border-radius: 10px;
        }
        .screen {
            width: 70%;
            border-bottom: 5px solid #94e6ff;
            border-radius: 80%;
            margin: 50px 0px 50px 0px;
        }
        .dateselector {
            background-color: #fc5087;
            padding: 5px;
            border: none;
            margin: 7px;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <nav class="navbar">
            <div class="navbardivs">
              
                <div>
                    @foreach (var i in Model)
                    {
                        <p class="para" hidden>@i.NoOfSeats</p>
                        <p class="price" hidden>@i.Price</p>

                        <p class="userid" hidden>@Session["UserId"]</p>

                        <p class="propname" hidden>@i.PropertyName</p>

                        <p class="propadd" hidden>@i.PropertyAddress</p>
                        <p class="proploc" hidden>@i.PropertyLocation</p>
                        <p class="username" hidden>@Session["UserName"]</p>
                    }
                    <p class="eventid" hidden>@eventId</p>
                    <p class="propid" hidden>@propId</p>
                    <p class="seatsno" hidden>@seatsno</p>
                    <p id="MovieName">@moviename</p>
                    <p>@property , @address , @location</p>
                    <div class="dateimeselectordiv">
                        <button class="time">@time</button> |
                    </div>
                </div>
               


            </div>
        </nav>
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Book<span style="color :#fc5087">My</span>Event</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="bookingsummerydiv">
                            <div style="width:85%;">
                                <h4>@moviename</h4>
                                <p>@lang</p>
                                <p>@property : @address</p>
                                <h5 class="bokedseats">Seat</h5>
                                <h5>Duration : @duration</h5>
                                <p class="date">Date:</p>
                            </div>
                            <div style="width:15%;">
                                <h3 class="seat"></h3>
                                <p>Seats</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" id="book">Book Tickets</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="appender">
            <div class="appender1">

            </div>
            <div class="appender2">

            </div>

        </div>
        <center>
            <div class="screen">
                All Eyes In This Direction
            </div>
        </center>
        <div class="bookingdiv">

            <button class="booking-proceedbtn" data-bs-toggle="modal" data-bs-target="#myModal">Book</button>
        </div>


    </div>
    @section scripts{}
    <script>
       
  
        var datetime = new Date();
        var day = datetime.getDay();
        var date = datetime.getDate();
        var DateTime = datetime;
        const days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

        var total = 0;
        var a = parseInt($(".price").html());
        console.log(a)
        for (var i = 0; i < 3; i++) {
            var x = days[day + i];
            var y = datetime.getFullYear() + '/' + (datetime.getMonth() + 1) + '/' + (datetime.getDate() + i);
            $(".dateimeselectordiv").append("<button class='dateselector' value=" + y + ">" + x + "</button>")
           
        }
        $(".dateselector").click(function () {
            DateTime = $(this).val();
            $(".date").html("Date : " + DateTime);
        })
      
        $(document).ready(function () {
            
            seats = $(".seatsno").html();
            seatsarr = seats.split(",");

           
            var BookingEventName = $("#MovieName").text();

           
            var UserId = $(".userid").text();
            var eventid = $(".eventid").text();
            var PropertyName = $(".propname").text();
            var propertyId = $(".propid").text();
            var Location = $(".proploc").text();
            var PropertyAddress = $(".propadd").text();
            var Username = $(".username").text();

            var y = parseInt($(".para").html());

            console.log(eventid)
            console.log(propertyId)
            
            var arr = [];
            var date = new Date();
            var dmy = date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate()

            $(".date").html("Date : " + dmy);


    


            var NumberOfSeats = 0;
            var i;
            for (i = 1; i <= y; i++) {
                x = "<input type='checkbox' class='chk' data-id=" + i + " id=" + i + " >";

                if (i <= y / 2) {
                    $(".appender1").append(x);
                }
                if (i > y / 2 && i <= y) {
                    $(".appender2").append(x);
                }


            }

            for (j = 0; j < seatsarr.length; j++) {
                var s = parseInt(seatsarr[j]);
                console.log(s)
                $("#" + parseInt(seatsarr[j]) + "").css("pointer-events", "none");
                $("#" + parseInt(seatsarr[j]) + "").css("cursor", "not-allowed ");
                $("#" + parseInt(seatsarr[j]) + "").css("cursor", "none");
                $("#" + parseInt(seatsarr[j]) + "").css("accent-color", "green");
                $("#" + parseInt(seatsarr[j]) + "").attr('checked', true);
                $("#" + parseInt(seatsarr[j]) + "").css('outline-color', 'red');
                $("#" + parseInt(seatsarr[j]) + "").css('outline-style', 'solid');
                $("#" + parseInt(seatsarr[j]) + "").css('outline-width', 'thin');

            }

        



            $('input[type="checkbox"]').click(function () {
                if ($(this).is(":checked")) {
                    total = total + a;
                    arr.push($(this).data('id'));
                    $(".bookingdiv").show();
                    $(".booking-proceedbtn").html("Proceed to Pay : " + total);
                    NumberOfSeats++;
                    console.log(arr);

                    $('.booking-proceedbtn').click(function () {

                        $(".bokedseats").html("Seats no: " + arr.toString())
                        $(".seat").html(NumberOfSeats);
                    })

                }
                else if ($(this).is(":not(:checked)")) {
                    arr.splice(arr.indexOf($(this).data('id')), 1);
                    total = total - a;
                    NumberOfSeats--;
                    $(".booking-proceedbtn").html("Proceed to Pay : " + total);
                    console.log(arr);
                }
                if (NumberOfSeats == 0) {
                    $(".bookingdiv").hide();
                }
            });

    var successMessage = '@TempData["SuccessMessage"]';

    var errorMessage = '@TempData["ErrorMessage"]';




            $("#book").on('click',function () {
               
                var SeatsNumber = arr.toString();
                var Seat = seatsarr.toString();
                var SeatNumber = Seat+","+SeatsNumber;
                var bookingdata = { DateTime,BookingEventName, NumberOfSeats, SeatsNumber, SeatNumber, UserId, eventid, PropertyName, propertyId, Location, PropertyAddress, Username };
                $.ajax({

                    url: "@Url.Action("BookingConfirmation", "WebpageHome")",
                    type: "POST",
                    data: JSON.stringify(bookingdata),

                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        Swal.fire({
                            title: "",
                            text: 'Booking Confirmed',
                            icon: 'success',
                            confirmButtonText: 'Awesome!',
                            type:"success"
                        }).then(() => {
  // User clicked "Yes," so redirect to another action
  window.location.href = '@Url.Action("SelectSeats", "WebpageHome")';
});

                    },
                    error: function () {
                        alert("Error while inserting data");
                    }



                })

            })
        })
    </script>
</body>
</html>

